@use '../../abstract' as *;
/* ========= Home 1  : Portfolio Section Style ============= */
.home-1{
    &_portfolio-section{
        position: relative;
        // z-index: 1;
        .portfolio-shape{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        .row--portfolio-gutter{
            --bs-gutter-x:20px;
            --bs-gutter-y:30px;
            justify-content: center;
            @media (min-width:768px){
                --bs-gutter-x:30px;
            }
            @media (min-width:992px){
                --bs-gutter-x:45px;
            }
            @media (min-width:1200px){
                --bs-gutter-x:61px;
            }
        }
     
    }
}