@use '../../abstract' as *;
.error-section{
    padding-top: 200px;
    padding-bottom: 120px;
}
.error-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 372px;
    text-align: center;
    @include mx-auto;
   &__image{
       margin-bottom: 30px;
    img {
        max-width: 100%;
    }

   }
   &__button{
    margin-top: 21px;
   }
}