@use "../abstract" as *;
/******* Utility Classes ********/
.justify-center {
  justify-content: center;
}
.h-full {
  height: 100%;
}
.fw-400 {
  font-weight: normal;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.text-md-initial {
  @media (min-width: 768px) {
    text-align: initial !important;
  }
}
.text-lg-initial {
  @media (min-width: 992px) {
    text-align: initial !important;
  }
}

// .portfolio-height-1 {
//   min-height: 438px !important;
// }
// .portfolio-height-2-1 {
//   min-height: 550px !important;
// }
// .portfolio-height-2-2 {
//   min-height: 550px !important;
// }
// // .grid-height-2 {
// //   height: 336px !important;
// // }
// // .grid-height-1 {
// //   height: 344px !important;
// // }
// .portfolio-height-3 {
//   min-height: 451px !important;
// }
.portfolio-height-4 {
  max-height: 631px !important;
}

/******* Utility Text Colors ********/
.text-primary-l02 {
  color: $l2-primary;
}

/******* Utility Background Colors ********/
.bg-white {
  background: #ffffff;
}
.bg-cream {
  background-color: $cream-hex;
}
.bg-cream-dark {
  background-color: #f5efeb;
}

.bg-black {
  background-color: $body-color;
}
.bg-black-2 {
  background-color: $black-2-hex;
}
.bg-black-3 {
  background-color: #1b1c1d;
}
.bg-orange {
  background: #e35523;
}
.bg-primary-l6 {
  background: $primary-hex;
}
.bg-primary-l09 {
  background: $l9-primary-hex;
}
.bg-secondary-l09 {
  background: $l9-secondary-hex;
}
.bg-offwhite-2 {
  background: #fff4d9;
}
.bg-light-2 {
  background-color: #faf9f5;
}

.bg-offwhite-3 {
  background: #f5f3ea;
}
.bg-offwhite-dark {
  background: #ebdece;
}

.bg-primary-opacity-l2 {
  background-color: rgba($l2-primary-rgb, 0.03);
}
.text-black {
  color: $body-color !important;
}
.text-black-2 {
  color: $black-2-hex;
}
.text-black-3 {
  color: #221f1a;
}
.text-l7-primary {
  color: $l7-primary-hex;
}
.text-l5-secondary {
  color: $l5-secondary-hex;
}
.text-cream {
  color: $cream-hex;
}
.text-offwhite-2 {
  color: #fff4d9;
}
.service-divider {
  padding-bottom: 60px;
  @media (min-width: 576px) {
    padding-bottom: 80px;
  }
  @media (min-width: 992px) {
    padding-bottom: 100px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 120px;
  }
  border-bottom: 1px solid rgba(10, 16, 47, 0.1);
}
