@use"./abstract" as *;
/* ========== Preview page Style ============= */
.preview-page{
   
    &_wrapper{
        background: #000000;
    }
    &_hero{
        &-section{
            background-image: url(../image/demo/header.png);
            width: 100%;
            background-color: #1B1C1D;
            background-blend-mode: multiply;
            inset: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &_hero-content {
        &-text-block{
            max-width: 856px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .header-title{
            @include heading-70(700);
            font-family: $font-family-base;
            line-height: 1.4;
            letter-spacing: 0em;
            margin-bottom: 20px;
        }
        p{
            @include heading-20(500);
            color: rgba($white, 0.8);
            max-width: 746px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &_hero-button-group{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 15px;
        margin-top: 30px;
        @media (min-width:992px){
        margin-top: 50px;
        }
        .btn-outline-l08 {
            --btn-border-color: #fff;
            --btn-color: #fff;
        }
    }
    &_home{
        border-bottom: 1px solid rgba($white, 0.1);
    }
    &_section-heading{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 602px;
        margin-bottom: 40px;
        @media (min-width:576px){
        margin-bottom: 60px;
        @media (min-width:992px){
        margin-bottom: 80px;
        }
        }
        .section-title{
            @include heading-50;
            font-weight: 600;
            margin-bottom: 20px;
            font-family: $font-family-base;
        }
        p{
            @include body-18(400,1.44);
            color: rgba($white, 0.8);
        }
    }
    &_name{
        @include heading-24;
        text-align: center;
        margin-top: 30px;
    }
    &_inner{
        border-bottom: 1px solid rgba($white, 0.1);
        .preview-page_section-heading{
            max-width: 575px
        }
        span{
            @include heading-50;
            font-weight: 600;
            font-family: $font-family-base;
            text-align: center;
            color: #13111A;
            text-align: center;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
    }
    &_inner-bottom{
        .preview-page_section-heading{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            max-width: 750px;
            margin-bottom: 40px;
            @media (min-width:576px){
            margin-bottom: 60px;
            @media (min-width:992px){
            margin-bottom: 80px;
            }
            }
            .section-title{
                @include heading-50;
                font-weight: 600;
                margin-bottom: 20px;
                font-family: $font-family-base;
            }
            p{
                @include body-18(400,1.44);
                color: rgba($white, 0.8);
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &_card{
        background: #13111A;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        column-gap: 30px;
        max-width: 500px;
        &__title{
        font-family: $font-family-base;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.4;
        letter-spacing: -0.033333333em;
        color: #FFFFFF;
        margin-bottom: 15px;
        }
        p{
            @include heading-24;
            color: #FFFFFF;
        }
        &-row{
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            justify-content: center;
            max-width: 1092px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &_cta{
        background: #13111A;
        position: relative;
        &-image{
            position: absolute;
            transform: rotate(8.89deg);
            left: -1%;
            top: 3%;
            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .preview-page_section-heading{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            max-width: 884px;
            margin-bottom: 40px;
            @media (min-width:576px){
            margin-bottom: 60px;
            @media (min-width:992px){
            margin-bottom: 80px;
            }
            }
            p{
                max-width: 620px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-button{
            margin-top: 30px;
            @media (min-width:992px){
            margin-top: 50px;
            }
        }
    }
}