@use"../../abstract" as *;
/* ========== Home 9 : FAQ Section Style ============= */

.home-9{
    &_faq-section{
        position: relative;
        // z-index: 1;
        background: #EBDECE;
        .row--custom{
            justify-content: center;
        }
    }
    &_faq-shape{
        position: absolute;
        top: -20%;
        right: 0;
        z-index: -1;
        img{
            width: 100%;
        }
    }
}